.kort-rad {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: start;
  align-items: stretch;
}

.kort {
  flex-direction: column;
  gap: 0.5rem;
}

.kort img {
  max-width: 100%;
  height: auto;
}

.kort .btn {
  margin-top: auto;
  padding: 5px;
  background-color: rgb(83, 80, 80);
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}
